* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--textFont);
}

:root {
  --baseClr: #00ba3f;
  --altClr: #b1e972;
  --focusClr: #f7002e;
  --otherClr: #f5e900;

  --titleFont: "FiraSans", sans-serif;
  --textFont: "Montserrat", sans-serif;
}

body {
  height: fit-content;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.padding {
  padding: 1em 3em;
}

.alert {
  padding: 0 auto;
  border: 0;
  margin: 0;
  height: 4vh;
  border-radius: 0;
  display: flex;
  align-items: center;
  background: #555;
  color: #fff;
}

.alert span {
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 0.08em;
}

.alert span:nth-of-type(2) {
  margin-left: 1em;
}

.alert a {
  font-size: 0.8em;
  font-weight: 600;
}

.alert a:nth-of-type(2),
.alert a:nth-of-type(3) {
  margin-left: 0.8em;
}

.navbar {
  background: #fff;
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 1px #eee;
}

.navbar .nav-item.nav-link {
  margin: 0 1em;
  color: #333;
  padding: 0.5em;
  font-size: 0.9em;
  font-weight: 600;
}

.navbar .nav-item.nav-link.active,
.navbar .nav-item.nav-link:hover {
  background: var(--baseClr);
  color: #fff;
}

.navbar .nav-item:nth-of-type(5).nav-link {
  margin-right: 0 !important;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover {
  font-family: var(--titleFont);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
  color: var(--baseClr);
}

.landing {
  height: fit-content;
  margin: 0.5em 0;
  padding: 0 auto;
  background: #fff;
}

.landing .carousel,
.landing .carousel-inner,
.landing .carousel-item {
  width: 100%;
  height: fit-content;
}

.landing .carousel-item:nth-of-type(odd) .carousel-grid {
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-areas: "image info";
}

.landing .carousel-item:nth-of-type(even) .carousel-grid {
  display: grid;
  grid-template-columns: 1fr 70%;
  grid-template-areas: "info image";
}

.landing .carousel-item .carousel-image {
  grid-area: image;
  height: 80vh;
}

.landing .carousel-item .carousel-image img {
  object-position: bottom;
}

.landing .carousel-item .carousel-text {
  grid-area: info;
  background: #fff;
  border: 1px solid rgba(177, 233, 114, 0.3);
  padding: 2em 3em;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.landing .carousel-item .carousel-text h2 {
  font-family: var(--textFont);
  font-size: 1.7em;
  line-height: 1.5;
  text-transform: capitalize;
  color: #333;
  padding-bottom: 1em;
  border-bottom: 2px solid var(--baseClr);
}

.landing .carousel-controls {
  position: absolute;
  width: 5vw;
  height: fit-content;
  bottom: 3em;
  right: 2em;
  display: flex;
  justify-content: space-between;
}

.landing .carousel-control-prev,
.landing .carousel-control-next {
  position: relative;
  padding: 0.5em 1em;
  border-radius: 2px;
  color: #fff;
  background: #333;
  opacity: 1;
}

.section {
  margin: 2em 0;
  padding: 1em 0;
  background: #fff;
}

.section .section-title {
  font-family: var(--textFont);
  font-size: 1.7em;
  text-transform: capitalize;
  line-height: 1.5;
  color: #333;
  margin-bottom: 2em;
  padding: 0 1em;
  width: 40%;
  border-left: 2px solid var(--baseClr);
}

.intro .card {
  height: 50vh;
  padding: 3em;
  border: 0;
  border-radius: 0;
  border-left: 1px solid rgba(177, 233, 114, 0.3);
  box-shadow: 1px 0 0.5px var(--altClr);
}

.intro .card:hover {
  transform: perspective(2000px) translateZ(100px);
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.intro .card .card-top {
  margin: 0;
  padding-bottom: 2em;
  display: flex;
  align-items: center;
}

.intro .card .card-top .fa {
  font-size: 2em;
  color: var(--baseClr);
  text-shadow: 0 0 5px var(--altClr);
}

.intro .card .card-body {
  padding: 0;
  font-family: var(--textFont);
  font-size: 0.9em;
}

.intro .card .card-title {
  font-size: 1.5em;
  font-family: var(--titleFont);
  text-transform: capitalize;
}

.plots .btn-custom {
  position: relative;
  font-family: var(--titleFont);
  background: #fff;
  border: 2px solid var(--baseClr);
  color: var(--baseClr);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em !important;
  padding: 0.1em 0.6em 0.1em 1em !important;
}
.plots .btn .fa {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -0.5em;
  font-size: 1.9em;
  color: var(--baseClr);
}

.plots .btn-custom:hover {
  background: var(--otherClr);
  border-color: var(--otherClr);
  color: #333;
  transform: perspective(2000px) translateZ(100px);
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
.plots .btn-custom:hover .fa {
  color: #333;
}

.plots-list {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1em;
}

.plots-list .plot {
  height: fit-content;
  margin-bottom: 3em;
  box-shadow: 0 0 1px var(--baseClr);
  display: grid;
  grid-template-rows: 40vh 1fr;
  grid-auto-flow: row;
}

.plots-list .plot:hover {
  transform: perspective(2000px) translateZ(100px);
}

.plots-list .plot .plot-image {
  position: relative;
}

.plots-list .plot .plot-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 186, 63, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: var(--titleFont);
}
.plots-list .plot .plot-image-overlay h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}

.plots-list .plot .plot-image-overlay h4 {
  font-size: 0.9em;
  text-transform: capitalize;
}

.plots-list .plot .plot-image img {
  height: 40vh;
}

.plots-list .plot .plot-info {
  margin: 0;
  height: 100%;
}

.plots-list .plot .plot-info p {
  margin: 0;
  padding: 0.5em;
  font-family: var(--titleFont);
  font-size: 0.9em;
}
.plots-list .plot .plot-info p:nth-child(1n) {
  background: var(--altClr);
  color: #333;
  font-weight: 600;
}
.plots-list .plot .plot-info p:nth-child(2n) {
  background: #333;
  color: #fff;
  font-weight: 600;
}
.plots-list .plot .plot-info p:nth-child(3n) {
  background: var(--otherClr);
  color: #333;
  font-weight: 400;
}
.plots-list .plot .plot-info p:nth-child(3n) .fa {
  opacity: 0.8;
  font-size: 0.7em;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1024px) {
  .landing .carousel-item .carousel-image {
    height: 40vh;
  }
  .landing .carousel-controls {
    width: 10%;
    bottom: 1em;
  }
  .landing .carousel-item .carousel-text h2 {
    width: 100%;
  }

  .section .section-title {
    width: 60%;
  }

  .intro .card {
    height: 30vh;
  }
}

@media only screen and (max-width: 768px) {
  .padding {
    padding: 1em 1.8em !important;
  }
  .navbar .navbar-nav {
    padding-top: 1em;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .nav-item.nav-link {
    margin: unset;
    font-size: 0.6em;
    padding: 0.5em;
  }

  .secton {
    margin: 1em 0;
  }
  .section .section-title {
    width: 100%;
    font-size: 1.7em;
  }

  .landing {
    height: fit-content;
  }

  .landing .carousel-item:nth-of-type(odd) .carousel-grid,
  .landing .carousel-item:nth-of-type(even) .carousel-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40vh 1fr;
    grid-template-areas: "image image" "info info";
  }

  .landing .carousel-item .carousel-text {
    padding: 5em 2em 2em 2em;
    font-size: 0.8em;
  }

  .landing .carousel-item .carousel-text h2 {
    margin-bottom: 1.5em;
    font-size: 1.2em;
    font-weight: 600;
    text-align: left;
  }

  .landing .carousel-controls {
    width: 10%;
    bottom: unset;
    top: 42vh;
    right: 1em;
  }

  .section {
    margin: 0;
  }

  .section .section-title {
    width: 70%;
    font-family: var(--titleFont);
    text-transform: uppercase;
  }

  .intro {
    padding: 0;
  }

  .intro .card {
    padding: 2em 1em;
    width: 100%;
    margin-bottom: 1em;
  }
  .intro .card .card-body {
    font-size: 0.8em;
  }
  .intro .card .card-title {
    font-size: 1.5em;
    font-family: var(--titleFont);
    font-weight: 600;
    text-transform: capitalize;
  }
}

@media screen and (max-width: 576px) {
  .padding {
    padding: 1em 1.5em !important;
  }
  .alert > div {
    display: flex !important;
    justify-content: space-evenly;
  }
  .alert span,
  .alert a {
    font-size: 0.7em;
  }
  .section .section-title {
    width: 100%;
    font-size: 1.2em;
    font-weight: 600;
  }

  .landing .carousel-item:nth-of-type(odd) .carousel-grid,
  .landing .carousel-item:nth-of-type(even) .carousel-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 1fr;
    grid-template-areas: "image image" "info info";
  }

  .landing .carousel-item .carousel-image {
    height: 30vh;
  }

  .landing .carousel-controls {
    width: 25%;
    top: 32vh;
  }
  .intro .card {
    height: 35vh;
  }
}

@media screen and (max-width: 350px) {
  .alert span,
  .alert a {
    font-size: 0.5em;
  }
}

/* ------------- */
