<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sweet Title</title>

    <!-- Links  -->
    <link rel="stylesheet" href="/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>

    <!-- Nav Section -->
    {{ partial "navbar.html" . }}

    <!-- Main Section -->
    {{ block "main" . }}

    <!-- Page templates -->

    {{ end }}



    <!-- scripts -->
    {{ partial "scripts.html" }}

</body>

</html>