<!-- alert-type topbar -->
<div class="padding alert alert-secondary">
    <div class="mr-auto">
        <span>
            <i class="fa fa-envelope"></i>
            info@title.co.ke
        </span>
        <span>
            <i class="fa fa-phone"></i>
            +254 7552 558
        </span>
    </div>
    <div class="ml-auto">
        <a href="/">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="/">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="/">
            <i class="fa fa-youtube"></i>
        </a>
    </div>
</div>

<!-- navigation -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <div class="container-fluid padding">
        <a class="navbar-brand" href="#">Sweet Title Limited</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active" href="/">
                    <i class="fa fa-home"></i>
                    <span class="sr-only">(current)</span>
                </a>
                <a class="nav-item nav-link" href="/">About</a>
                <a class="nav-item nav-link" href="/">Plots</a>
                <a class="nav-item nav-link" href="/">Media</a>
                <a class="nav-item nav-link" href="/">Contact</a>
            </div>
        </div>
    </div>
</nav>