<script src="/vendor/jquery.min.js"></script>
<script src="/vendor/popper.min.js"></script>
<script src="/vendor/bootstrap.min.js"></script>
<script>
    $('.carousel').carousel({
        interval: 7000
    })
</script>