{{ define "main" }}

<div class="landing">
    <div class="container-fluid padding">
        <div id="landing-carousel" class="carousel carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-grid">
                        <div class="carousel-image">
                            <img class="img-responsive" src="/images/bg1.jpg" alt="First slide">
                        </div>

                        <div class="carousel-text">
                            <h2>Beautiful scenaries &amp; breath-taking views</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, rem non assumenda quisquam alias
                                aperiam nulla veritatis aspernatur dignissimos accusamus laudantium asperiores tempora accusantium
                                ipsum.
                            </p>

                        </div>
                        <div class="carousel-controls">
                            <a class="carousel-control-prev" href="#landing-carousel" role="button" data-slide="prev">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                            <a class="carousel-control-next" href="#landing-carousel" role="button" data-slide="next">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-grid">
                        <div class="carousel-image">
                            <img class="img-responsive" src="/images/bg2.jpg" alt="Second slide">
                        </div>

                        <div class="carousel-text">
                            <h2>Great business with a great heart</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, rem non assumenda quisquam alias
                                aperiam nulla veritatis aspernatur dignissimos accusamus laudantium asperiores tempora accusantium
                                ipsum.
                            </p>

                        </div>
                        <div class="carousel-controls">
                            <a class="carousel-control-prev" href="#landing-carousel" role="button" data-slide="prev">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                            <a class="carousel-control-next" href="#landing-carousel" role="button" data-slide="next">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-grid">
                        <div class="carousel-image">
                            <img class="img-responsive" src="/images/bg3.jpg" alt="Third slide">
                        </div>

                        <div class="carousel-text">
                            <h2>Amazing land investment opportunities</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, rem non assumenda quisquam alias
                                aperiam nulla veritatis aspernatur dignissimos accusamus laudantium asperiores tempora accusantium
                                ipsum.
                            </p>

                        </div>
                        <div class="carousel-controls">
                            <a class="carousel-control-prev" href="#landing-carousel" role="button" data-slide="prev">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                            <a class="carousel-control-next" href="#landing-carousel" role="button" data-slide="next">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Intro Section -->
<section class="section">
    <div class="container-fluid padding">
        <h1 class="section-title">Experts in local land purchase &amp; investment</h1>
        <div class="row intro">
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-top">
                        <i class="fa fa-calendar-plus-o"></i>
                    </div>

                    <div class="card-body">
                        <h2 class="card-title">Flexible Payment Plans</h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe blanditiis aliquam incidunt ullam aut quam, explicabo rerum
                            quia velit iusto.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-top">
                        <i class="fa fa-usd"></i>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Affordable Prices</h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe blanditiis aliquam incidunt ullam aut quam, explicabo rerum
                            quia velit iusto.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-top">
                        <i class="fa fa-handshake-o"></i>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">We value relationships</h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe blanditiis aliquam incidunt ullam aut quam, explicabo rerum
                            quia velit iusto.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Plots Section -->
<section class="section plots">
    <div class="container-fluid padding">
        <h1 class="section-title">Grab yourself a plot today &amp; invest your future</h1>
        <div class="plots-list">
            <!-- products -->
            {{ $plots := getJSON "/data/plots.json" }}

            <!-- filter out the SoldOut  -->
            {{ range first 4 (where .Site.Data.plots "soldOut" "false") }}
            <!--  -->

            <div class="plot">
                <div class="plot-image">
                    <img src="/images/plots/{{.name}}.jpg" alt=" An image of {{.name}}">
                    <div class="plot-image-overlay">
                        <h2>{{.name}}</h2>
                        <h4>{{.distance}}</h4>
                    </div>
                </div>
                <div class="plot-info">
                    <p>{{.name}}</p>
                    <p>{{.size}}</p>
                    <p>
                        <span>Ksh. {{ lang.NumFmt 2 .price }}
                            <sup>
                                <i class="fa fa-star"></i>
                            </sup>
                        </span>
                    </p>
                </div>
            </div>
            {{ end }}
        </div>
        <a href="/" class="float-right btn btn-sm btn-custom">
            <i class="fa fa-long-arrow-right"></i>
            More
        </a>
    </div>
    </div>
</section>

{{ end }}